@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* Navigation */
header {
  background-color: #3c3a39;
  height: 48px;
  width: 375px;
  left: 0;
  top: 44px;
  border-radius: 0;
}

nav {
  display: flex;
  width: 100%;
  height: 10%;
  background-color: #3c3a39;
  justify-content: space-between;
}

.logo-container {
  height: 44px;
  width: 94px;
  left: 12px;
  top: 2px;
  border-radius: 0;
  padding: 10px 12px 10px 12px;
}

#logo {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 700;
  size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
}

.hamberger-btn {
  text-align: center;
  padding-top: 7.6%;
  padding-left: 16%;
  background-color: #3c3a39;
  width: fit-content;
  display: block;
}

#ham {
  position: absolute;
  left: 83%;
  top: 1%;
  cursor: pointer;
}

.section {
  background-color: #1c1a19;
  width: 100%;
  height: 590px;
  position: absolute;
}

.container {
  background-color: #1c1a19;
  height: 590px;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  background-image: url(img/illustration-header-mobile.png);
  background-attachment: fixed;
  background-size: 46.9%;
  background-position-y: 185px;
  background-position: right bottom;
  flex-grow: 1;
  background-repeat: no-repeat;
}

#myName {
  width: 327px;
  color: #ff6b00;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  padding-top: 25%;
  padding-left: 5%;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#title {
  width: 327px;
  color: #fff5e1;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  align-items: center;
  padding-left: 5%;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#description {
  width: 327px;
  height: 123px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-left: 5%;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.flex-socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  height: 40px;
  padding-left: 5%;
  padding-top: 10%;
  order: 3;
  flex-grow: 0;
}

.iconsSection {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}

@media (min-width: 768px) {
  .iconsSection {
    display: flex;
    flex-direction: column;
    gap: 21em;
  }
}
