@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  text-transform: capitalize;
}

/* Navigation */
header {
  background-color: #3c3a39;
  height: 48px;
  width: 100%;
  left: 0;
  top: 44px;
  border-radius: 0;
}

nav {
  display: flex;
  width: 100%;
  height: 10%;
  background-color: #3c3a39;
  justify-content: space-between;
}

.logo-container {
  height: 44px;
  width: 94px;
  left: 12px;
  top: 2px;
  border-radius: 0;
  padding: 10px 12px 10px 12px;
}

#logo {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 700;
  size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
}

.hamberger-btn {
  text-align: center;
  padding-top: 7.6%;
  padding-left: 16%;
  background-color: #3c3a39;
  width: fit-content;
  display: block;
}

#ham {
  position: absolute;
  left: 83%;
  top: 1%;
  cursor: pointer;
}

.section {
  background-color: #1c1a19;
  width: 100%;
  height: 590px;
  position: absolute;
  order: 0;
  flex-grow: 0;
}

.container {
  background-color: #1c1a19;
  height: 590px;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  background-image: url(img/illustration-header-mobile.png);
  background-attachment: fixed;
  background-size: 46.9%;
  background-position-y: 185px;
  background-position: right bottom;
  flex-grow: 1;
  background-repeat: no-repeat;
}

#myName {
  width: 327px;
  color: #ff6b00;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  padding-top: 25%;
  padding-left: 5%;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#title {
  width: 327px;
  color: #fff5e1;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  align-items: center;
  padding-left: 5%;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#description {
  width: 327px;
  height: 123px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-left: 5%;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.flex-socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  height: 40px;
  padding-left: 5%;
  padding-top: 10%;
  order: 3;
  flex-grow: 0;
}

.iconsSection {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}

.works {
  background-color: #fff;
  position: absolute;
  top: 86%;
  width: 100%;
}

.recent-works {
  padding-top: 120px;
  left: 24px;
  width: 327px;
  border-bottom: #212121;
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

#worksTitle {
  font-family: 'Crete Round', sans-serif;
  color: #1c1a19;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  padding-bottom: 29px;
  text-align: left;
}

#grid-container {
  height: 3028px;
  width: 100%;
  padding-top: 7%;
  position: relative;
  display: grid;
  grid-template-rows: 174px;
}

.recent-project {
  position: relative;
  height: 533px;
  width: 375px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.project-img {
  position: relative;
  left: 6.4%;
}

.right-block {
  position: relative;
  left: 6.4%;
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 307px;
  margin-right: 47px;
}

.title-post {
  width: 100%;
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  height: 36px;
  color: #091e42;
}

.posts-description {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  size: 16px;
  text-align: left;
  color: #091e42;
  padding-bottom: 10px;
}

.tech-skills {
  display: flex;
  flex-direction: row;
  gap: 8%;
  height: 40px;
  width: 70%;
  align-items: center;
}

.skillset {
  font-style: 'Inter', sans-serif;
  border: 1px solid #8993a4;
  color: #091e42;
  box-sizing: border-box;
  padding: 10px;
}

.project-view {
  height: 48px;
  font-family: 'Inter', sans-serif;
  color: #fff;
  width: 124px;
  padding: 12px;
  position: inherit;
  top: 8%;
  border: 0;
  background-color: #ff6b00;
}

.cards-box {
  height: fit-content;
  top: 385px;
  padding: 0 24px 0 24px;
  order: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-works {
  height: 386px;
  width: 327px;
  left: 24px;
  background-image: url(img/Img-Placeholder1.png);
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding-top: 22%;
  text-align: inherit;
  text-decoration: #fff;
  margin-left: 1px;
}

.card-title {
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  padding-left: 3%;
  padding-right: 3%;
  position: relative;
  gap: 13%;
  display: flex;
}

.card-description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-left: 3%;
  padding-right: 3%;
  color: #fff;
}

.card-btn {
  height: 48px;
  width: 327px;
  background: #ff6b00;
  position: relative;
  top: 3.12%;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  border: 0;
}

.card-techskills {
  display: flex;
  flex-direction: row;
  gap: 10%;
  height: 40px;
  padding-left: 3%;
  width: 70%;
  align-items: center;
}

.card-skillset {
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
  box-sizing: border-box;
  padding: 10px;
}

.about {
  position: absolute;
  width: 100%;
  height: 1500px;
  top: 553%;
  background-color: #1c1a19;
  background-image: url(img/Frame.png);
  background-attachment: scroll;
  background-size: 42.9%;
  background-position-y: 22%;
  background-repeat: no-repeat;
  background-position-x: 100%;
}

.about-me {
  position: inherit;
  top: 120px;
  left: 24px;
  display: flex;
  flex-direction: column;
  gap: 24%;
}

.about-title {
  font-family: 'Crete Round', sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.about-text {
  height: 148px;
  width: 327px;
  color: #f4f5f7;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.resume {
  height: 48px;
  width: 156px;
  left: 24px;
  top: 395px;
  border-radius: 0;
  padding: 12px;
  color: #fff;
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
}

.divider {
  color: #fff;
  position: relative;
  top: 36%;
  margin-left: 12%;
  margin-right: 12%;
  border: 1px solid #fff;
}

.profession-tools {
  height: fit-content;
  width: 100%;
  position: absolute;
  top: 637%;
  padding: 100px 24px 0 24px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.tools-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.listtopography {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header-list {
  flex-direction: row;
  align-self: center;
  align-items: center;
  display: flex;
  color: #fff;
  gap: 7%;
  width: 225.46px;
  height: 41.46px;
}

#titles {
  width: 18px;
  height: 18px;
}

#language {
  font-style: 'InaiMathi';
  padding-left: 4%;
}

#frameworks {
  font-style: 'Inter';
  padding-left: 4%;
}

#skills {
  font-style: 'Inter';
  padding-left: 17%;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-size: 99%;
  font-weight: 100;
  line-height: 52px;
  text-align: center;
  color: #fff;
}

.contact {
  background-color: #fff;
  background-size: 100%;
  position: absolute;
  top: 686%;
  width: 100%;
  left: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
}

.contact-section {
  width: 327px;
}

.contact-text {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  color: #172b4d;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: none;
}

input {
  border: transparent;
  border-bottom: #dbd8d7;
  border-bottom: 5px;
}

.submit-btn {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 10px;
  background-color: #ff6b00;
}

@media (min-width: 768px) {
  header {
    width: 100%;
  }

  #myName {
    padding-top: 2%;
    width: 56%;
  }

  .container {
    width: 100%;
    left: 12%;
    bottom: 18%;
    top: 20%;
    background-image: url(img/Illustration-header.svg);
    background-attachment: fixed;
    background-size: 30%;
    background-position-y: 4%;
    background-position: right;
    background-repeat: no-repeat;
  }

  .flex-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 40px;
    padding-left: 5%;
    padding-top: 10%;
    order: 3;
    flex-grow: 0;
  }

  .iconsSection {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: absolute;
    top: 21%;
    right: 102%;
    width: 3%;
  }

  .about {
    background-image: url(img/Frame1.png);
    background-position-y: 10%;
    background-position-x: 100%;
  }

  .profession-tools {
    padding-top: 0;
  }

  .tools-lists {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15%;
    padding: 130px 0;
  }

  .recent-project {
    position: relative;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
  }

  .right-block {
    position: relative;
    padding-top: 3%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 307px;
    margin-right: 47px;
  }

  .project-img {
    width: 212%;
    height: 67%;
    left: 4.15%;
  }

  #grid-container {
    height: max-content;
  }

  .cards-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: wrap;
    justify-content: space-evenly;
    height: max-content;
  }

  .card-works {
    left: 24px;
    padding-top: 9%;
    text-align: inherit;
    text-decoration: #fff;
    margin-left: 1px;
    flex-basis: 100%;
  }

  .tools-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5%;
  }
}

@media (min-width: 1400px) {
  .profession-tools {
    top: 545%;
    padding-top: 0;
  }

  .cards-box {
    display: flex;
  }
}
